<!-- Navbar start -->
<nav class="navbar">
  <div class="navbar-content">
    <button
      id="toggle-sidebar-btn"
      class="btn btn-action"
      type="button"
      onclick="halfmoon.toggleSidebar()"
    >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </div>
  <a href="#" class="navbar-brand ml-10 ml-sm-20">
    <span class="d-sm-flex">Creative & Original Name</span>
  </a>
  <div class="navbar-content ml-auto">
    <app-notifications></app-notifications>
  </div>
</nav>
<!-- Navbar end -->
